%h4 Collaborators
%ul
  - @wiki.collaborators.each do |collaborator|
    %li
      %h4
        = collaborator.user.email
        = link_to "", "/wikis/#{@wiki.id}/collaborators/#{collaborator.id}", method: :delete, class: 'glyphicon glyphicon-remove'
