- if @wiki.user_id == current_user.id || current_user.admin?
  .form-group
    - @users.each do |user|
      %h4
        = user.email
      - if @wiki.users.include? user
        %div
          = link_to "Remove Collaborator", wiki_collaborator_path(@wiki, @wiki.collaborators.find_by_user_id(user.id).id), method: :delete, class: 'btn btn-danger'
      - else
        %div
          = link_to "Add Collaborator", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-info'
