<% if @wiki.user_id == current_user.id || current_user.admin? %>
  <div class="form-group">
    <%= autocomplete_field_tag 'email', '', autocomplete_user_email_wikis_path, :size => 75 %>
    <input type="text" data-autocomplete="users/autocomplete_user_email_wiki">

  </div>
<% end %>
