<div class="container">
  <h2>Thanks for checking out noted</h2>
          <p>Want to get in touch? Fill out the form below to send me a message:</p>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

          <div class="contact-form">
            <form>
              <input type="text" name="field1" placeholder="Name" />
              <input type="email" name="field2" placeholder="Email" />
              <input type="phone" name="field3" placeholder="Phone Number" />
              <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </form>
          </div>
    </div>
