<div class="wrapper">
  <div class="row">
    <div class="col-sm-12 text-center bottom-separator">
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="testimonial bottom"></div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="contact-info bottom">
        <h2>Contact Me</h2>
        <address>
          E-mail: <a href="tedmlopez@gmail.com">tedmlopez@gmail.com</a> <br>
          Phone: +1 (240) 271-7135 <br>
        </address>

        <h2>Address</h2>
        <address>
          706 7th St. SE <br>
          Washington, DC 20003 <br>
          United States <br>
        </address>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="contact-form bottom">
        <h2>Send me a message</h2>
        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
          <div class="form-group">
            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
            </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
          </div>
          <div class="form-group">
            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
