<!-- Main Content -->
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <h2>Create and share notes for free</h2>
      <p>With noted, you can share and publish notes that anybody can contribute to.</p>
      <div class="button_wrapper"><a href="#" class="button button_free">Sign up for Free</a></div>
    </div>
    <div class="col-md-6">
      <h2>Premium accounts for privacy</h2>
      <p>Upgrade to a premium account to keep your notes private, for you and your friends.</p>
      div class="button_wrapper"><a href="#" class="button button_premium">Sign up for Premium</a></div>
    </div>
  </div>
</div>
