<div class="container">

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>noted</h1>
      <h2>An open community to share knowledge</h2>
    </div>
  </header>





  <% if false %>
    <p>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h2>Create and share notes for free</h2>
      <p>Bloccit will deliver food and water to those in need, all over the world.</p>
    </div>
    <div class="col-md-6">
      <h2>Eliminates poverty</h2>
      <p>Bloccit will deliver money and education to those in need, all over the world.</p>
    </div>
  </div>
</div>
