%h1 BLOCIPEDIA
%h2 An open community to share knowledge
- if false
  %p
    = link_to "Sign In", new_session_path
    or
    \#{link_to "Sign Up", new_user_path, class: 'btn btn-primary'} today!
.row
  .col-md-4
    %h2 Solves world hunger
    %p Bloccit will deliver food and water to those in need, all over the world.
  .col-md-4
    %h2 Eliminates poverty
    %p Bloccit will deliver money and education to those in need, all over the world.
  .col-md-4
    %h2 Makes you better looking
    %p Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.
