<h1 class="header">All notes
  <div class="header-button"></div>
    <div class="btn"><%= link_to 'New note', new_wiki_path, class: 'btn btn-success' %></div>
</h1>
<hr>
<br/>
<%= render partial: 'wiki', locals: { wiki: @viewable_wikis  }%>
<%= will_paginate @viewable_wikis, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
