<h1 class="header">All notes
    <div class="btn"><%= link_to 'New note', new_wiki_path, class: 'btn-sm btn-success' %></div>
</h1>
<hr>
<br/>
<%= render partial: 'wiki', locals: { wiki: @wikis  }%>

<div class="pagination">
  <%= will_paginate @wikis, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %>
</div>

<script>tedmetrics.report('index page loaded');</script>
