<h1 class="header">All notes
  <div class="header-button"></div>
  <%= link_to 'New note', new_wiki_path, class: 'btn btn-success' %>
</h1>
<hr>
<br/>
<%= render partial: 'wiki', locals: { wiki: @wiki  }%>
<%= will_paginate @wikis, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0%>
