// - - - - - - - - - - Variables - - - - - - - - - - //

$dark: #212529;
$white: #FFFFFF;

// - - - - - - - - - - Global Styles - - - - - - - - - - //

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  height: 4rem;
  a {
    padding-top: 4rem;
  }
  .logout {
    padding-left: 5rem;
  }
}

.logout {
  margin-right: 35%;
}

.button-wrapper {
  text-align: center;
}

.wrapper {
  font-family: 'Lato', sans-serif;
  width: 1900px;
  max-width: 90%;
  margin: 1rem auto;
  a {
    text-decoration: none;
  }
}

.search-form {
  font-size: 15px;
  white-space: nowrap;
  .glyphicon-search{
    font-size: 23px;
  }
  input[type=submit] {
    border-radius: 5px;
    font-size: 12px;
    height:25px;
    font-family: 'Lato';
  }
}

.private {
  color: #DCDCDC;
}

.hidden {
  display: none;
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  .notice, .alert {
    padding-top: 10px;
    color: #616161;
    background:rgba(255,255,255,0.9);
    height: 5rem;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.user-nav {
  margin: 10;
  display: inline;
  float: right;
}

.container {
  padding: 2rem 0;
  margin-left: 0 auto;
}

.form-container {
  vertical-align: center;
}

.contact-form {
  vertical-align: center;
  margin: 50px auto;
  input {
    margin-bottom: 2rem;
  }
    textarea {
      display: block;
      width: 70%;
      height: 100rem;
      margin: 2rem 0;
      outline: 1px solid #ddd;
    }
    input[type=submit] {
      border-radius: 5px;
      font-size: 12px;
      height:25px;
      font-family: 'Lato';
    }
  a {
      text-decoration: none;
    }
}

.save-btn {
  border-radius: 5px;
  font-size: 12px;
  height:25px;
  font-family: 'Lato';
}

.form-inputs {
  font-size: 15px;
}

.contact-form {
  .contact-btn {
    height: 25rem;
  }
}

.form-group {
  .form-class {
    height: 50rem;
  }
}

.container{
  max-width: 100%;
}

.control-group {
  label {
    display: none;
  }
  input {
    margin-bottom: 2rem;
    border-bottom: rgb(201, 208, 214)
  }
}

header {
  position: fixed;
  height: 7rem;
  width: 100%;
}

.login {
  text-align: center;
}

.main-content {
  padding: 5rem;
  margin: 0;
}

.btn, .button-group {
  text-decoration: none;
  color: $white;
  a, a:link, a:hover {
    text-decoration: none;
    color: $white;
  }
}

.btn-wrapper {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.start-btn {
  padding-top: 3rem;
  a {
    color: $white;
  }
}

.author {
  padding-top: 5rem;
}

ul li {
  list-style: none;
}

// - - - - - - - - - - Banner Styles - - - - - - - - - - //

#banner {
  background-image: url(home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 1rem 0;
  header :{
    padding: 2rem 0;
  }
  nav {
    float:right;
    padding-left: 5rem;
    padding-right: 5rem;
    a {
      color: $dark;
      font-weight: 700;
      text-decoration: none;
      margin: 2rem;
    }
    li {
      padding-left: 3;
    }
  }
  .content {
    padding: 10rem 0;
    .title, .sub_title {
      color: $dark;
      text-align: center;
    }
    .title {
      font-size: 3.5rem;
      margin:0;
    }
    .sub_title {
      font-weight: 400;
      line-height: 1.75;
    }
  }
}

.logged-in {
  display: inline-block;
}

.pagination {
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    font-weight: 700;
    font-size: .7em;
    font-size: normal;
    color: #424652;
    &:hover {
      background: #4285F4;
      color: #FFFFFF;
    }
  }
  .current {
    background: #4285F4;
    color: #FFFFFF;
  }
  .disabled {
    color: #C0C0C0;
    &:hover {
      color: #C0C0C0;
      background: #FFFFFF;
    }
  }
}
