// - - - - - - - - - - Variables - - - - - - - - - - //

$dark: #212529;
$white: #FFFFFF;

// - - - - - - - - - - Global Styles - - - - - - - - - - //

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  height: 4rem;
  a {
    padding-top: 4rem;
  }
}

.logout {
  margin-right: 35%;
}

.button-wrapper {
  text-align: center;
}

.wrapper {
  font-family: 'Lato', sans-serif;
  width: 1900px;
  max-width: 90%;
  margin: 1rem auto;
  a {
    text-decoration: none;
  }
}

.search-form {
  white-space: nowrap;
  input {
    border: 0;
  }
  button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
  } button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
  }
  .glyphicon-search{
    font-size: 23px;
  }

}

.private {
  color: #DCDCDC;
}

.hidden {
  display: none;
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135, 216, 211, 0.95);
  .notice, .alert {
    margin: 0;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}

.alert {
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}

.user-nav {
  margin: 10;
  display: inline;
  float: right;
}

.container {
  padding: 2rem 0;
  margin-left: 0 auto;
}

.form-container {
  vertical-align: center;
}

.contact-form {
  vertical-align: center;
  margin: 50px auto;
    input {
      outline: none;
      display: block;
      width: 100%;
      padding: 5rem 0;
      border: none;
      border-radius: 6px;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      height: 45px;
        label {
          outline: none;
        }
    }
    textarea {
      display: block;
      width: 100%;
      height: 25rem;
      margin: 2rem 0;
      border: none;
    }
  input {
    outline: none;
    display: block;
    width: 100%;
    padding: 5rem 0;
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
      label {
        outline: none;
      }
  }
  a {
      text-decoration: none;
    }
  .submit-button {
    font-size: 10px;
    width: 10rem;
  }
}

form input[type=submit] {
  display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: white;
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef;
    cursor: pointer;
}


.container{
  max-width: 100%;
}

.control-group {
  label {
    display: none;
  }
  input {
    margin-bottom: 2rem;
    border-bottom: rgb(201, 208, 214)
  }
}

header {
  position: fixed;
  height: 7rem;
  width: 100%;
}

.login {
  text-align: center;
}

.main-content {
  padding: 5rem;
  margin: 0;
}

.btn, .button-group {
  text-decoration: none;
  color: $white;
  a, a:link, a:hover {
    text-decoration: none;
    color: $white;
  }
}

.btn-wrapper {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.start-btn {
  padding-top: 3rem;
  a {
    color: $white;
  }
}

.author {
  padding-top: 5rem;
}

ul li {
  list-style: none;
}

// - - - - - - - - - - Banner Styles - - - - - - - - - - //

#banner {
  background-image: url(home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 1rem 0;
  header :{
    padding: 2rem 0;
  }
  nav {
    float:right;
    padding-left: 5rem;
    padding-right: 5rem;
    a {
      color: $dark;
      font-weight: 700;
      text-decoration: none;
      margin: 2rem;
    }
    li {
      padding-left: 3;
    }
  }
  .content {
    padding: 10rem 0;
    .title, .sub_title {
      color: $dark;
      text-align: center;
    }
    .title {
      font-size: 3.5rem;
      margin:0;
    }
    .sub_title {
      font-weight: 400;
      line-height: 1.75;
    }
  }
}

.logged-in {
  display: inline-block;
}

.navbar-link {
  padding-left: 2rem;
}
