// - - - - - - - - - - Variables - - - - - - - - - - //

$dark: #212529;
$white: #FFFFFF;


// - - - - - - - - - - Global Styles - - - - - - - - - - //

.wrapper {
  width: 1900px;
  max-width: 90%;
  margin: 1rem   auto;
  a {
    text-decoration: none;
  }
}

#notice-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135, 216, 211, 0.95);
  .notice, .alert {
    margin: 0;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
  }
}

.user-nav {
  margin: 10;
  display: inline;
  float: right;
}

.btn-wrapper {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.container {
  padding: 2rem 0;
  margin-left: 0 auto;
}

.form-container {
  vertical-align: center;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important;
    font-family: Lora,'Times New Roman',serif;
}

.contact-form {
  vertical-align: center;
  background: #FFFFFF;
  margin: 50px auto;
  form {
    input {
      outline: none;
      display: block;
      width: 100%;
      padding: 5rem 0;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
    }
    textarea {
      outline: none;
      display: block;
      width: 100%;
      margin: 2rem 0;
      border: none;
    }
  }
}

  .container{
    max-width: 970px;
  }


.control-group {
  label {
    display: none;
  }
  input {
    margin-bottom: 2rem;
    border-bottom: rgb(201, 208, 214)
  }
}



header {
  position: fixed;
  height: 7rem;
  width: 100%;
}

.header-container {
  display: block!important;
  height: auto!important;
  padding-bottom: 0;
  overflow: visible!important;
}


.header .header-button {
    margin-left: 2rem;
    display: inline-block;
}

.header .button-group {
  display: inline-block;
  float:right;
}


.login {
  text-align: center;
}

.main-content {
  padding: 5rem;
  margin: 0;
}

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-align: center;
}

.btn {
  text-decoration: none;
}

.btn-warning {
  a{
    color: $white;
  }
}

.author {
  padding-top: 5rem;
}

// - - - - - - - - - - Banner Styles - - - - - - - - - - //

#banner {
  background-image: url(home-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 1rem 0;
  header :{
    padding: 2rem 0;
  }
  #logo {
    color: $white;
    font-weight: 700;
    font-size: 1.75rem;
    float: left;
    margin: 0;
    span {
      font-weight: 400;
    }
  }
  nav {
    float:right;
    padding-left: 5;
    a {
      color: $dark;
      font-weight: 700;
      text-decoration: none;
      margin: 2rem;
    }
    li {
      padding-left: 3;
    }
  }
  .content {
    padding: 10rem 0;
    .title, .sub_title {
      color: $dark;
      text-align: center;
    }
    .title {
      font-size: 3.5rem;
      margin:0;
    }
    .sub_title {
      font-weight: 400;
      line-height: 1.75;
    }
  }
}
